*.prefs
*.classpath
*.project
*.jar
*.class
*.classpath
*.settings
target
bin

!openAPE/web/target/
openAPE/web/target/*
!openAPE/web/target/*.war
openAPE/web/target/*.war

documentation/build/*
!documentation/build/*.pdf
