context-server/target/*
context-server/.settings/*
context-server/.project
context-server/.classpath
*.prefs
Standard/ISO-IEC_CD_24752-8.Draft2016-08-29_commented_smirek_2016-10-12.doc
openAPE/.classpath
*.project