<html>
<head>
 <title>OpenAPE</title>
 
<!--Vendor Stylesheets -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">

<!--Custom Stylesheets -->
 <link rel="stylesheet" href="css/style.css">

<!--Vendor Javascript -->
 <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 
 
 <!--Custom Javascript -->
 <script src="js/openape.js" type="text/javascript"></script>
 <script src="js/usersection.js" type="text/javascript"></script>
 <script src="js/navigation.js" type="text/javascript"></script>
<script src="js/signin.js" type="text/javascript"></script>
<script src="js/signup.js" type="text/javascript"></script>
</head>
<style>

#content {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
</style>

<body>

<div class="wrapper">
   <div class="header">
   	$signinModal
	$signupModal
	$topNavigation
	$subSection
   </div>
   <div class="body">
	   <div class="oneContentBlock">
	   	 <h1>Getting Started</h1> <br>
<h2>Getting started as a user</h2>
<p>Welcome to OpenAPE! In this section we will explain you how to use OpenAPE as a user who wants to benefit from the auto-personalisation of applications and user interfaces.</p>
<p>If applications shall adapt to your personal preferences. it is necessary that you provide them some information about your prefered manner of interacting with applications. 
This can be information about prefered font size, colour schema, the language of the interface or additional help like sign language videos. These information are stored in your personal user context. It is important to know that OpenAPE is open source and is run by the Stuttgart Media University, that has no commercial interest in your data. yor data  <br> 
In order to define your personal user context, you need an OpenAPE account. Click on "signup" to create your account. <br>
Having done so, you will get to your OpenAPE profile (this is not yet your user context). Here you can find some information about your OpenAPE account and functions to change your password etc.<br>
Now, click on "MyContexts". This is the place where your user context information can be stored. You can create a new user context by typing all relevant data in the text field. <br>
This here is a simple example for a user context in JSON format:
<pre><cod>
{
  "default": {
    "preferences": 
      { "http://terms.gpii.net/speech-output": "true" }
  }
}
</code></pre>
<p> in the Preferences object you can add any kombination of key-value pairs. For Further information on how to create user contexts, please have a look at our <a href="tutorials">tutorials</a> section.
</p>
<p>Now you are done with OpenAPE. You can now log in to any application that supports OpenAPE and it will adjust to your preferences defined in the user context. 
</p>

		</div> 
   </div>
   <div id="footer">$footer</div>
</div>
</body>
</html>