<html>
<head>
 <title>OpenAPE</title>
 
<!--Vendor Stylesheets -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">

<!--Custom Stylesheets -->
 <link rel="stylesheet" href="css/style.css">

<!--Vendor Javascript -->
 <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 
 
 <!--Custom Javascript -->
 <script src="js/openape.js" type="text/javascript"></script>
 <script src="js/usersection.js" type="text/javascript"></script>
 <script src="js/navigation.js" type="text/javascript"></script>
<script src="js/signin.js" type="text/javascript"></script>
<script src="js/signup.js" type="text/javascript"></script>
<script src="js/remex-cookies.min.js" type="text/javascript"></script>
<script>let remex_cookies_wp_strings = 'en';</script>
</head>

<body>

<div class="wrapper">
   <div class="header">
   	$signinModal
	$signupModal
	$topNavigation
	$subSection
   </div>
   <div class="body">
	   <div class="oneContentBlock">
	   	 <h1>The openAPE workflow model</h1> <br>
	   	 
	   	 
<ol>	   
<li>A user personalizes a device according to his needs (e.g., font size, language etc.).</li>
<li>The device creates different context objects that contain the relevant user settings and for which context they were made. These contexts are uploaded to the corresponding context web services.</li>
<li>In a next step, the user can approach any other device connected to the openAPE infrastructure and can authenticate himself.</li>
<li>After the authentication, this second device uploads the current context conditions (equipment, environment and task context).</li>
<li>In a next step, it sends a request message to the listing service in order to obtain information about optimized UI settings and additional UI resources. Thereby it refers to the uploaded context information.</li>
<li>The listing service starts a matchmaking mechanism to infer the recommended UI settings and adaptations.</li>
<li>The listing service exposes the recommended settings to the client.</li>
<li>The client downloads the recommendations and adjusts its UI.</li>
<li>If mentioned in the recommendations, the device can download additional UI resources.</li>
<li>Optionally, the client gives feedback on the quality of the recommended settings to openAPE.</li>
<li>openape architecture v1.2</li>
</ol>
<br>
<div align="center">
	<img src="img/openape_architecture_v1.2.jpg" width="35%">
</div>	   	 
	   	 
	   	 </div> 
   	
   </div>
   <div id="footer">$footer</div>
</div>
</body>
</html>