.content{
	min-height:30em;
	display: flex;
	
	
	.leftContent {
		min-height:30em;
		float:left;
		display:block;
		min-width:13em;
		text-align:center;	
		
		.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
	}

	.rightContent {
		min-height:30em;
		display:block;
		padding:1em;
		-webkit-box-shadow: -8px 0px 12px -4px rgba(0,0,0,0.75);
		-moz-box-shadow: -8px 0px 12px -4px rgba(0,0,0,0.75);
		box-shadow: -8px 0px 12px -4px rgba(0,0,0,0.75);
		
	}

	.mainContent {
		
		padding:3em;
	}
}


