@import 'variables';

.footer{
	background-color:yellow; 
	float:clear;
	text-align:center; 
	padding:2em; 
	background-color: #3b3b3b; 
	color:white;
	font-weight:bold;
	min-height: 6em;
	position:relative;
	border-top: 4px solid #740a1b;
    bottom: 0;
    width: 100%;
	
	a {
		color: #e31134;
	}
}



