@import 'navigation';
@import 'footer';
@import 'content';
@import 'modal';

.main{
	h1 {
	color:#740a1b;
	font-weight:bold;
}

}

body {
	height: 100%;
	a {
		color:black;
	}
	background: #eee;
}




