@import 'navigation';
@import 'footer';
@import 'content';
@import 'modal';


.wrapper {
   min-height:100%;
   position:relative;
   h1 {
	color:#740a1b;
	font-weight:bold;
   }
  
  	.body {
   		.landingPage {
   			
   		}
   	
   		.oneContentBlock {
   			padding:3em;
   			padding-bottom:10em;   /* Height of the footer */
   		}
   	
   		.twoContentBlocks {
   			
   		}
	}
}

html,
body {
	margin:0;
   	padding:0;
   	height:100%;
	a {
		color:black;
	}
	background: #eee;
}




