.registerSection{
	position:fixed;
    top: 40%;
    left: 50%;
    width:30em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

.registerContent {
	border: 1px solid #ccc;
    background-color: #f3f3f3;
}

table {
  border-collapse:separate;
  border-spacing:55px 20px;
}

font {
	color: #2B669A;
	font-size: 28pt;
	font-weight: bold;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

div.main {
	margin: 0px 200px 50px 200px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

div.loginErrorMsg {
	margin: 20px 0px 0px 0px;
	color: red;
	font-weight: bold;
}