a {
  color: #A80000; }

div.main {
  margin: 50px 200px 0px 200px;
  box-shadow: 0 0 10px #000000; }
  div.main .topnav {
    background-color: #e31134;
    overflow: hidden;
    width: 100%;
    border-bottom: 5px solid #b7052c; }
    div.main .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px; }
      div.main .topnav a:hover {
        background-color: #b7052c; }
  div.main div.header {
    padding: 1em; }
    div.main div.header .hdmlogo {
      width: 6em; }
  div.main .subsubnav {
    background-color: #706E6E;
    overflow: hidden;
    width: 100%; }
    div.main .subsubnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 8px 16px;
      text-decoration: none;
      font-size: 17px; }
      div.main .subsubnav a:hover {
        background-color: #363636; }
  div.main .subnav {
    background-color: #363636;
    overflow: hidden;
    width: 100%;
    border-bottom: 5px solid #C60000;
    border-top: 5px solid #C60000; }
    div.main .subnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 8px 16px;
      text-decoration: none;
      font-size: 17px; }
      div.main .subnav a:hover {
        background-color: #C60000; }
  div.main .headerBottom {
    background-color: #363636;
    overflow: hidden;
    height: 50px;
    width: 100%;
    border-bottom: 5px solid #C60000;
    border-top: 5px solid #C60000; }
  div.main .mainContent {
    padding: 2em; }
    div.main .mainContent .registerSection {
      width: 30em;
      margin: auto; }
      div.main .mainContent .registerSection .registerContent {
        border: 1px solid #ccc;
        background-color: #f3f3f3; }
  div.main footer {
    padding: 1em;
    border-top: 2px solid #ccc;
    color: black;
    background-color: #ececec;
    clear: left;
    margin: 0px 0px 100px 0px;
    text-align: center; }

table {
  border-collapse: separate;
  border-spacing: 55px 20px; }

font.header {
  color: #C60000;
  font-size: 28pt;
  font-weight: bold; }

/* Style the buttons inside the tab */
div.tab button {
  background-color: #b7052c;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s; }

.btn-red {
  background-color: #b7052c;
  color: white; }

.btn:focus, .btn:active:focus, .btn .active:focus, .btn:hover {
  color: white;
  background-color: #7c031d; }

.active {
  background-color: #363636;
  color: white; }

.subnav-active, .topnav-active {
  background-color: #C60000;
  color: white; }

.loginErrorMsg {
  margin: 20px 0px 0px 0px;
  color: red;
  font-weight: bold; }

.statusError {
  color: red;
  font-size: 12pt;
  font-weight: bold; }

.statusInfo {
  color: green;
  font-size: 12pt;
  font-weight: bold; }

/*# sourceMappingURL=style.css.map */
