.registerSection{
	width: 30em;
	margin: auto;
}

.registerContent {
	border: 1px solid #ccc;
    background-color: #f3f3f3;
}

table {
  border-collapse:separate;
  border-spacing:55px 20px;
}

font.header {
	color: grey;
	font-size: 28pt;
	font-weight: bold;
}

.statusError {
	color: red;
	font-size: 12pt;
	font-weight: bold;
}

.statusInfo {
	color: green;
	font-size: 12pt;
	font-weight: bold;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #b7052c;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: #b7052c;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.hdmlogo {
	width:6em;
}

.btn-red {
	background-color: #b7052c;
	color: white;
}

div.main {
	
	margin: 50px 250px 0px 250px;
   
    box-shadow: 0 0 10px #000000;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn:hover {
    color: white;
    background-color: #7c031d;
}


 
/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
   
    border-top: none;
}

div.loginErrorMsg {
	margin: 20px 0px 0px 0px;
	color: red;
	font-weight: bold;
}



.subsubnav {
    background-color: #706E6E;
    overflow: hidden;
    width:100%;
}

/* Style the links inside the navigation bar */
.subsubnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.subsubnav a:hover {
    background-color: #363636;
}

.active {
    background-color: #363636;
    color: white;
}

.subnav-active, .topnav-active  {
    background-color: #C60000;
    color: white;
}




/* Add a black background color to the top navigation */
.topnav {
    background-color: #e31134;
    overflow: hidden;
    width:100%;
    border-bottom: 3px solid #b7052c;
}
.subnav {
	background-color: #363636;
    overflow: hidden;
    width:100%;
    border-bottom: 5px solid #C60000;
    border-top: 5px solid #C60000;
}
.headerBottom {
    background-color: #363636;
    overflow: hidden;
    height:50px;
    width:100%;
      border-bottom: 5px solid #C60000;
    border-top: 5px solid #C60000;
}

/* Style the links inside the navigation bar */
.subnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.subnav a:hover {
    background-color: #b7052c;
}
	

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #b7052c;
}



div.mainContent {
	padding: 2em;
}

div.header {
	padding: 1em;
}

footer {
 	padding: 1em;
 	border-top: 2px solid #ccc;
    color: black;
    background-color: rgb(236, 236, 236)	;
    clear: left;
    margin: 0px 0px 100px 0px;
    text-align: center;
}